[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "themes/agnoster-halbard"]
	path = themes/agnoster-halbard
	url = git@github.com:HalbardHobby/agnoster-halbard-zsh-theme.git
